#img2{
    float: left;
    margin-right: 5%;
}
.intro-about{
    margin:10%;
    /* margin-left: 20%; */
    margin-right: 40%;
}
.intro-about h1{
    font-weight: bold;
}
.about{
    margin-left: 10%;
    margin-right:50%;
    
}
.about h4{
    font-weight: bold;
}