.navbar{
    background-color: black;
    color: black;
}
.navbar-brand{
    margin-left: 200px;
    color: white;
    font-size: 1cm;

}
.navbar-nav{
    margin-left: 200px;
} 
.nav-item{
    font-weight: bold;
    color: white;
    margin-left: 10px;
    transition: transform 0,5s;

}
.nav-item:hover{
    background: deepskyblue;
    border-radius: 20px;
}
body{
    background-image: url(https://images.squarespace-cdn.com/content/v1/5a283bbd268b9691647af7ab/1618498788250-3JE0G8CJMV7S8KL7WKYC/Marketing+101+Header.jpeg);

    background-repeat: no-repeat;
    background-size: cover;
}
#img1{
    float: right;
}
.intro{
    margin:10%;
}
.intro h6{
    color: purple;
}
.gray{
    color: purple;
}
.hi{
    margin-left: 10%;
}
