.navbar{
    background-color: black;
    color: black;
}
.navbar-brand{
    margin-left: 200px;
    color: white;
    font-size: 1cm;

}
.navbar-nav{
    margin-left: 200px;
} 
.nav-item{
    font-weight: bold;
    color: white;
    margin-left: 10px;
    transition: transform 0,5s;

}
.nav-item:hover{
    background: deepskyblue;
    border-radius: 20px;
}